<div class="bookMovie">
    <div class="container">
        <div class="row">
            <div class="card col-lg-3 p-2" style="border: none;">
                <img class="card-img-top" src="{{thisMovie?.movieImages}}" alt="">
                <p>Release Date: {{thisMovie?.releaseDate | date:'dd/MM/yyyy'}}</p>
                <p>Duration: {{thisMovie?.duration}} min </p>
                <p *ngIf='DateFlag'> Rating: {{thisMovie?.rationg}} </p>
            </div>
            <div class="card col-lg-9 p-2" style="border: none;">
                <img class="card-img-top" src="{{thisMovie?.movieTrailer}}" alt="">

                <div class="list-group list-group-horizontal" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                        href="#list-home" role="tab" aria-controls="home">INFORMATION</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                        href="#list-profile" role="tab" aria-controls="profile">SYNOPSIS</a>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                        aria-labelledby="list-home-list">
                        <p> Director : <span *ngFor='let cast of thisMovieCast' [ngSwitch]="cast.role">
                                <span *ngSwitchCase='"Director"'>
                                    <span>
                                        {{cast.name}},
                                    </span>
                                </span>
                            </span>
                        </p>
                        <p> Cast : <span *ngFor='let cast of thisMovieCast'>
                                <span *ngIf="cast.role != 'Director'">
                                    {{cast.name}},
                                </span>
                            </span>
                        </p>

                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        {{thisMovie?.descripton}}
                    </div>
                </div>

                <div class="mt-3" *ngIf='!zeroShowFlag'>
                    <form name="" id="">
                        <div class="form-group">
                            <label for=""> Select City: </label>
                            <select class="form-control" name="city" id="country" size=""
                                (change)="onSelect($event.target.value)">
                                <option value="" selected="selected">Select City</option>
                                <option *ngFor='let item of UniqueCity' value="{{item.cinemaCity}}">{{item.cinemaCity}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for=""> Select Cinema: </label>
                            <select class="form-control" name="cinema" size=""
                                (change)="onSelectCinema($event.target.value)">
                                <option value="" selected="selected">Select Cinema</option>
                                <option *ngFor='let item of UniqueCinema' value="{{item.cinemaName}}">
                                    {{item.cinemaName}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for=""> Select Date: </label>
                            <select class="form-control" name="date" size=""
                                (change)="onSelectDate($event.target.value)">
                                <option value="0" selected="selected">Select Date</option>
                                <option value="1">{{TodayDate| date:'dd/MM/yyyy'}}</option>
                                <option value="2">{{TomorrowDate| date:'dd/MM/yyyy'}}</option>
                                <option value="3">{{TomorrowDate1| date:'dd/MM/yyyy'}}</option>
                                <option value="4">{{TomorrowDate2| date:'dd/MM/yyyy'}}</option>
                                <option value="5">Next All</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for=""> Select TimeSlot: </label>
                            <select class="form-control" name="time" size=""
                                (change)="onSelecttime($event.target.value)">
                                <option value="0" selected="selected">Select TimeSlot</option>
                                <option value="1">Morning (6:00am to 11:59am)</option>
                                <option value="2">Afternoon (12:00pm to 5:59pm)</option>
                                <option value="3">Evening (6:00pm to 11:59am)</option>
                                <option value="4">Other</option>
                            </select>
                        </div>

                        <div>
                            <button (click)='onSearch()' type="button" class="btn btn-success mt-3">Search</button>
                        </div>
                    </form>

                    <div style="margin-top: 15px;">
                        <div class="container">
                            <div *ngFor='let data of BookyourSeatFinal' style="padding: 12px;">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div>
                                            Show Date & Time
                                            {{data.date | date:'dd/MM/yyyy'}}
                                            {{data.startTime.hours}}:{{data.startTime.minutes}}

                                            <br>
                                            Screen no. {{data.screenNo}} & Capacity {{data.capacity}}

                                            <br> Cinema Location
                                            {{data.cinemaName}}
                                            {{data.cinemaAddress}}-{{data.cinemaPincode}}
                                            {{data.cinemaCity}}
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-success"
                                            [routerLink]="['../BookSeat',data.showTimeId]">Book Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container" *ngIf='NoDataFoundFlag'>
                            No Show Found
                        </div>
                    </div>
                </div>
                <div *ngIf='zeroShowFlag' class="text-warning">
                    Booking Will Starting Soon
                </div>
            </div>
        </div>
    </div>
</div>